fastapi
uvicorn
doclayout-yolo
huggingface-hub
torch
torchvision
python-multipart
pymupdf
verovio
sse_starlette
playwright
transformers
tiktoken
git+https://github.com/mesolitica/transformers-openai-api.git@0990077672793866128d7ec7d6d5f24778bf999f